<form [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field floatLabel="auto" hintLabel="required input" appearance="fill" class="full-wide">
        <input matInput type="email" placeholder="your email" formControlName="email">
      </mat-form-field>
      <br>
      <mat-form-field floatLabel="auto" hintLabel="required input" appearance="fill" class="full-wide">
        <input matInput type="text" placeholder="your username" formControlName="name">
      </mat-form-field>
      <br>
      <mat-form-field floatLabel="auto" appearance="fill" hintLabel="required input" class="full-wide">
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="your password" formControlName="password">
        <button
          mat-icon-button matSuffix
          (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field floatLabel="auto" appearance="fill" hintLabel="required input" class="full-wide">
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="confirm your password" formControlName="repeat">
        <button
          mat-icon-button matSuffix
          (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <app-image-list-select
        [useSvgIcon]="true"
        [cols]="8"
        [title]="'select avatar '"
        [items]="items"
        formControlName="avatar"
        [style]="{'height': '120px'}"
      ></app-image-list-select>
      <app-age-input formControlName="dateOfBirth"></app-age-input>
      <!--<mat-grid-list cols="8" rowHeight="2:1">
        <mat-grid-tile *ngFor="let item of items">
          <mat-icon class="avatar" [svgIcon]="item"></mat-icon>
        </mat-grid-tile>
      </mat-grid-list>-->
      <br>
      <button type="submit" mat-raised-button color="primary">Register</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>Have an account? <a routerLink="/login">Login</a></p>
    </mat-card-actions>
  </mat-card>
</form>



