
<div class="task-lists">
  <app-task-list
    *ngFor="let list of lists"
    class="list-container"
    appDrop
    [dragEnterClass]="'drag-enter'"
    [dropTags]="['task-item', 'task-list']"
    [dragTag]="'task-list'"
    [dragData]="list"
    [appDrag]="true"
    [draggedClass]="'drag-start'"
    (dropped)="handleMove($event, list)"
    [ngStyle]="{'order': list.order}"
  >
    <app-task-header
      [header]="list.name"
      (newTask)="launchNewTaskDialog()"
      (moveAll)="launchMoveTaskDialog()"
      (deleteList)="launchConfirmDialog()"
      (editList)="launchEditTaskListDialog()"
    ></app-task-header>
    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (editTask)="launchUpdateTaskDialog(task)"
    ></app-task-item>
  </app-task-list>
</div>

<button class="fab-button" mat-fab type="button" (click)="launchNewTaskListDialog()">
  <mat-icon>add</mat-icon>
</button>
