
<div class="task-lists">
  <app-task-list
    *ngFor="let list of lists$ | async"
    class="list-container"
    appDrop
    [dragEnterClass]="'drag-enter'"
    [dropTags]="['task-item', 'task-list']"
    [dragTag]="'task-list'"
    [dragData]="list"
    [appDrag]="true"
    [draggedClass]="'drag-start'"
    (dropped)="handleMove($event, list)"
    [ngStyle]="{'order': list.order}"
  >
    <app-task-header
      [header]="list.name"
      (newTask)="launchNewTaskDialog()"
      (moveAll)="launchMoveTaskDialog()"
      (deleteList)="launchConfirmDialog(list)"
      (editList)="launchEditTaskListDialog(list)"
    ></app-task-header>
    <app-quick-task (quickTask)="handleQuickTask($event)"></app-quick-task>
    <!--<app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (editTask)="launchUpdateTaskDialog(task)"
    ></app-task-item>-->
  </app-task-list>
</div>

<button class="fab-button" mat-fab type="button" (click)="launchNewTaskListDialog($event)">
  <mat-icon>add</mat-icon>
</button>
