<div class="task-lists">
  <app-task-list
    class="list-container"
    appDropDirective
    [dragEnterClass]="'drag-enter'"
    [dropTags]="['task-item', 'task-list']"
    [dragTag]="'task-list'"
    [draggedClass]="'drag-start'"
    [dragData]="list"
    [appDragDirective]="true"
    (dropped)="handleMove($event, list)"
    *ngFor="let list of lists"
    [ngStyle]="{'order': 'list.order'}"
  >
    <app-task-header
      [header]="list.name"
      (newTask)="launchNewTaskDialog()"
      (moveTasks)="launchMoveTaskDialog()"
      (deleteTask)="launchConfirmDialog()"
      (editList)="launchEditListDialog()"
    ></app-task-header>
    <app-quick-task (quickTask)="launchQuickTask($event)"></app-quick-task>
    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (taskClick)="launchEditTask(task)"
    ></app-task-item>
  </app-task-list>
</div>

<button class="fab-button" mat-fab type="button" (click)="launchNewListDialog()">
  <mat-icon>add</mat-icon>
</button>
