
<mat-card>
  <mat-card-title>Login: </mat-card-title>
  <mat-card-content>
    <mat-form-field color="accent" floatLabel="auto" hintLabel="email required">
      <input matInput type="email" placeholder="your Email address" />
<!--      <mat-hint>email must need</mat-hint>-->
      <mat-error>email format is wrong</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <p>Haven't an account? <a href="">Register</a></p>
    <p>Forget password? <a href="">Get back Password</a></p>
  </mat-card-actions>
</mat-card>
