<form class="container">
  <mat-card>
    <mat-card-title>
      <span class="fill-remaining-space"></span>
      Login
      <span class="fill-remaining-space"></span>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field color="accent" floatLabel="auto" hintLabel="email required" class="full-wide" >
        <input matInput type="email" placeholder="your Email address" />
        <!--      <mat-hint>email must need</mat-hint>-->
        <mat-error>email format is wrong</mat-error>
      </mat-form-field>
      <mat-form-field color="accent" floatLabel="auto" hintLabel="password required" class="full-wide">
        <input matInput type="password" placeholder="your password" />
      </mat-form-field>
      <br><br>
      <div class="btn-container">
        <span class="fill-remaining-space"></span>
        <button class="full-wide login-button" mat-raised-button color="accent" type="button">Login</button>
        <span class="fill-remaining-space"></span>
      </div>

    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>Haven't an account? <button mat-button routerLink="/register">Register</button></p>
      <p>Forget password? <button mat-button>Get back Password</button></p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Something you need to know..
    </mat-card-title>
    <mat-card-subtitle>
      here has some sentences to read
    </mat-card-subtitle>
    <img mat-card-image src="/assets/img/quote_fallback.jpg" alt="" />
    <mat-card-content>
      here has some sentences to read
    </mat-card-content>
  </mat-card>
</form>
