<mat-sidenav-container [class.my-dark-theme]="darkTheme">
  <mat-sidenav mode="over" #sidenav>
    <app-sidebar (navClick)="sidenav.toggle()"></app-sidebar>
  </mat-sidenav>
  <div class="site">
    <header>
      <app-header
        (toggle)="sidenav.toggle()"
        [darkTheme]="darkTheme"
        (toggleDarkTheme)="switchTheme($event)"
      ></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</mat-sidenav-container>







