
<mat-toolbar color="primary">
  <button mat-icon-button (click)="openSidebar()" *ngIf="(auth$ | async)?.token">
    <mat-icon svgIcon="menu"></mat-icon>
  </button>
  <span>Workflow By Angular</span>
  <span class="fill-remaining-space"></span>
<!--  <mat-slide-toggle ()="">Dark Mode</mat-slide-toggle>-->
  <mat-slide-toggle [ngModel]="darkTheme" (ngModelChange)="onChange($event)">Dark Mode</mat-slide-toggle>
  <span><a href="" mat-button *ngIf="(auth$ | async)?.token" (click)="logout()">Logout</a></span>
</mat-toolbar>
