<form class="container" [formGroup]="form" (ngSubmit)="onSubmit(form, $event)">
  <mat-card>
    <mat-card-title>
      <span class="fill-remaining-space"></span>
      Login
      <span class="fill-remaining-space"></span>
    </mat-card-title>
    <mat-card-content>
      <mat-form-field color="accent" floatLabel="auto" hintLabel="email required" class="full-wide" >
        <input matInput type="email" placeholder="your Email address" formControlName="email" />
        <!--      <mat-hint>email must need</mat-hint>-->
<!--        match with self defined validate -->
        <mat-error>{{form.controls['email'].errors | json}}</mat-error>
      </mat-form-field>
      <mat-form-field color="accent" floatLabel="auto" hintLabel="password required" class="full-wide">
        <input matInput type="password" placeholder="your password" formControlName="password" />
      </mat-form-field>
      <br><br>
      <div class="btn-container">
        <span class="fill-remaining-space"></span>
        <button
          class="full-wide login-button"
          mat-raised-button color="accent"
          type="submit"
          [disabled]="!form.valid"
        >Login</button>
        <span class="fill-remaining-space"></span>
      </div>

    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>Haven't an account? <button mat-button routerLink="/register">Register</button></p>
      <p>Forget password? <button mat-button>Get back Password</button></p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Something you need to know..
    </mat-card-title>
    <mat-card-subtitle>
      {{quote.en}}
    </mat-card-subtitle>
    <img mat-card-image [src]="quote.pic" alt="quote image" />
    <mat-card-content>
      {{quote.en}}
    </mat-card-content>
  </mat-card>
</form>
