<form>
  <h2 mat-dialog-title>Invite Member</h2>
  <div mat-dialog-content>
    <mat-form-field floatLabel="auto" hintLabel="required input" appearance="fill" class="full-wide">
      <input matInput type="text" placeholder="member name" [matAutocomplete]="autoMembers" >
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="dialog-button">
    <button
      type="button" mat-raised-button color="primary"
      (click)="onClick()"
    >Save</button>
    <button type="button" mat-button mat-dialog-close>Close</button>
  </div>
</form>


<mat-autocomplete #autoMembers="matAutocomplete" [displayWith]="displayUser" >
  <mat-option *ngFor="let item of items" [value]="item">
    {{item.name}}
  </mat-option>
</mat-autocomplete>
